<footer class="page-footer indigo darken-2">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text">BID|NOW</h5>
              <p class="grey-text text-lighten-4 class="custom-font-1">We are BID|NOW Team Manage online bid with this Python auction script and track all of the bids placed by customers into any products</p>
            </div>

            <div class="col l4 offset-l4 s12">
              <h5 class="white-text">Routes</h5>
              <ul  class="custom-font-1">
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Marketplace</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Latest News</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Legal</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright pink lighten-1">
          <div class="container center custom-font-1">
          SDP-575© 2019 Copyright Text

          </div>
        </div>
      </footer>
